doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/admin.css')
		link(rel='icon', type='image/png', href='/images/icon.png')
	body
		h1 BY30 Administration Panel
		p Logged in as #{username}.
		a(href='/logout'): .btn.btn-danger Logout
		p Select a section in order to start editing
		.panel-group#accordion
			.panel.panel-default
				.panel-heading
					h4.panel-title#about-section-title
						a(data-toggle='collapse', data-parent='#accordion', href='#about-section') About
						span.notification.glyphicon.glyphicon-ok.saved.pull-right
						span.notification.glyphicon.glyphicon-warning-sign.modified.pull-right
						span.notification.glyphicon.glyphicon-exclamation-sign.error.pull-right
				.panel-collapse.collapse#about-section
					.panel-body
						#about-section-edit.section-edit(notification-area='#about-section-title', section='about')
							.text-data
								- if (aboutData)
									- for item in aboutData
										.editable-group
											- if (item.type == 'h2')
												h2.heading.editable(contenteditable) #{item.content}
												span.glyphicon.glyphicon-remove-circle.pull-right.remove-button
											- else
												p.content.editable(contenteditable) #{item.content}
												span.glyphicon.glyphicon-remove-circle.pull-right.remove-button
						.section-controls(for='#about-section-edit')
							.btn.btn-default.editable-section-control.btn-add-heading
								span.glyphicon.glyphicon-plus
								span.btn-content Heading
							.btn.btn-default.editable-section-control.btn-add-paragraph
								span.glyphicon.glyphicon-plus
								span.btn-content Paragraph
							.btn.btn-success.editable-section-control.btn-save.pull-right
								span.glyphicon.glyphicon-save.btn-icon
								span.btn-content Save

			.panel.panel-default
				.panel-heading
					h4.panel-title#speakers-section-title
						a(data-toggle='collapse', data-parent='#accordion', href='#speakers-section') Speakers
						span.notification.glyphicon.glyphicon-ok.saved.pull-right
						span.notification.glyphicon.glyphicon-warning-sign.modified.pull-right
						span.notification.glyphicon.glyphicon-exclamation-sign.error.pull-right
				.panel-collapse.collapse#speakers-section
					.panel-body
						#speakers-section-edit.section-edit(notification-area='#speakers-section-title', section='speakers')
							.list-data
								- if (speakersData)
									- for item in speakersData
										.session-data.editable-group
											.session-info.centre
												.editable-group
													h2.heading.editable.centre(contenteditable) #{item.date}
											.session-list
												- for spkr in item.speakers
													.speaker-data(id='#{spkr.id}')
														.speaker-photo
															input(type='file', name='member-photo').hidden.photo-input
															img.preview.btn-add-photo(src='#{spkr.photo}', for='##{spkr.id}')
														.speaker-info
															.editable-group
																h2.heading.editable(contenteditable) #{spkr.name}
																p.content.editable(contenteditable) #{spkr.description}
											span.glyphicon.glyphicon-remove-circle.pull-right.remove-button
							- if (!speakersData)
								.centre-container.empty-list-warning: i No speakers added yet
						.section-controls(for='#speakers-section-edit')
							.btn.btn-default.editable-section-control.btn-add-session
								span.glyphicon.glyphicon-plus
								span.btn-content Session
							.btn.btn-success.editable-section-control.btn-save.pull-right
								span.glyphicon.glyphicon-save.btn-icon
								span.btn-content Save

			.panel.panel-default
				.panel-heading
					h4.panel-title#venue-section-title
						a(data-toggle='collapse', data-parent='#accordion', href='#venue-section') Venue
						span.notification.glyphicon.glyphicon-ok.saved.pull-right
						span.notification.glyphicon.glyphicon-warning-sign.modified.pull-right
						span.notification.glyphicon.glyphicon-exclamation-sign.error.pull-right
				.panel-collapse.collapse#venue-section
					.panel-body
						#venue-section-edit.section-edit(notification-area='#venue-section-title', section='venue')
							.text-data
								- if (venueData)
									- for item in venueData
										.editable-group
											- if (item.type == 'h2')
												h2.heading.editable(contenteditable) #{item.content}
												span.glyphicon.glyphicon-remove-circle.pull-right.remove-button
											- else
												p.content.editable(contenteditable) #{item.content}
												span.glyphicon.glyphicon-remove-circle.pull-right.remove-button
						.section-controls(for='#venue-section-edit')
							.btn.btn-default.editable-section-control.btn-add-heading
								span.glyphicon.glyphicon-plus
								span.btn-content Heading
							.btn.btn-default.editable-section-control.btn-add-paragraph
								span.glyphicon.glyphicon-plus
								span.btn-content Paragraph
							.btn.btn-success.editable-section-control.btn-save.pull-right
								span.glyphicon.glyphicon-save.btn-icon
								span.btn-content Save

			.panel.panel-default
				.panel-heading
					h4.panel-title#team-section-title
						a(data-toggle='collapse', data-parent='#accordion', href='#team-section') Team
						span.notification.glyphicon.glyphicon-ok.saved.pull-right
						span.notification.glyphicon.glyphicon-warning-sign.modified.pull-right
						span.notification.glyphicon.glyphicon-exclamation-sign.error.pull-right
				.panel-collapse.collapse#team-section
					.panel-body
						#team-section-edit.section-edit(notification-area='#team-section-title', section='team')
							.text-data
								- if (teamData && teamData.elements)
									- for item in teamData.elements
										.editable-group
											- if (item.type == 'h2')
												h2.heading.editable(contenteditable) #{item.content}
												span.glyphicon.glyphicon-remove-circle.pull-right.remove-button
											- else
												p.content.editable(contenteditable) #{item.content}
												span.glyphicon.glyphicon-remove-circle.pull-right.remove-button
							hr
							.list-data
								- if (teamData && teamData.members)
									- for item in teamData.members
										.team-member-data.editable-group(id='#{item.id}')
											.member-photo
												input(type='file', name='member-photo').hidden.photo-input
												img.preview.btn-add-photo(src='#{item.photo}', for='##{item.id}')
											.member-info
												.editable-group
													h2.heading.editable(contenteditable) #{item.name}
													p.content.editable(contenteditable) #{item.description}
											span.glyphicon.glyphicon-remove-circle.pull-right.remove-button
								- if (!teamData || !teamData.members)
									.centre-container.empty-list-warning: i No team members added yet
						.section-controls(for='#team-section-edit')
							.btn.btn-default.editable-section-control.btn-add-heading
								span.glyphicon.glyphicon-plus
								span.btn-content Heading
							.btn.btn-default.editable-section-control.btn-add-paragraph
								span.glyphicon.glyphicon-plus
								span.btn-content Paragraph
							.btn.btn-default.editable-section-control.btn-add-team-member
								span.glyphicon.glyphicon-plus
								span.btn-content Team member
							.btn.btn-success.editable-section-control.btn-save.pull-right
								span.glyphicon.glyphicon-save.btn-icon
								span.btn-content Save

	script(src='/javascripts/jquery.js')
	script(src='/javascripts/bootstrap.min.js')
	script(src='/javascripts/admin/main.js')