extends layout

block content	
	section.page.home#home
		.nav-wrapper
		nav.navbar.navbar-default(role='navigation')
					ul.nav.navbar-nav.pull-left.left-nav
						li: a(href='#home'): span(href='#home') Home
						li: a(href='#about'): span(href='#about') About
						li: a(href='#speakers'): span(href='#speakers') Speakers
					ul.nav.navbar-nav.pull-right.right-nav
						li: a(href='#venue'): span(href='#venue') Venue
						li: a(href='#team'): span(href='#team') Team
						li: a(href='#contact'): span(href='#contact') Contact
					.navbar-header.centre
						a.navbar-brand(href='/')
					.navbar-header.centre.menu
						a.navbar-brand.alternative-trigger(href='#')
		ul.nav.nav-pills.nav-stacked.alternative-navigation.pull-right
			li: a(href='#home'): span(href='#home') Home
			li: a(href='#about'): span(href='#about') About
			li: a(href='#speakers'): span(href='#speakers') Speakers
			li: a(href='#venue'): span(href='#venue') Venue
			li: a(href='#team'): span(href='#team') Team
			li: a(href='#contact'): span(href='#contact') Contact
		.title-bottom
			span.big-number THREE
			span.medium-text influential speakers
			span.big-number.gray THIRTY
			span.medium-text.gray minutes each
	section.page.about#about
		.content
			- for item in aboutData
				- if (item.type == 'h2')
					h1.normal #{item.content}
				- else
					p #{item.content}
	section.page.speakers#speakers
		.speakers-header
			h1.big-text Speakers
		.content
			- if (speakersData)
				- for session in speakersData
					.session.container-fluid
						h1.session-date #{session.date}
						- for speaker in session.speakers
							.col-xs-4.column
								.cover(for='##{speaker.id}')
								h1.tile-title #{speaker.name}
								.tile
								img.speaker(src='#{speaker.photo}')
						.clear
						.panel-group
							- for speaker in session.speakers
								.collapse.panel-collapse(id='#{speaker.id}')
									.panel-body
										p #{speaker.description}
	section.page.venue#venue
		.venue-header
			h1.big-text Venue
		.content
			- for item in venueData
				- if (item.type == 'h2')
					h1.normal #{item.content}
				- else
					p #{item.content}
	section.page.team#team
		.content
			- for item in teamData.elements
				- if (item.type == 'h2')
					h1.normal #{item.content}
				- else
					p #{item.content}
			br
			- if (teamData && teamData.members)
				- for item in teamData.members
					.team-member-data(id='#{item.id}')
						.member-photo
							img.preview.btn-add-photo(src='#{item.photo}', for='##{item.id}')
						.member-info
								h2.heading #{item.name}
								p.content #{item.description}
	section.page.contact#contact
		.content
			h1.normal Contact Us
			.container-fluid.inline-block.contact-panel
				.col-md-6.contact-form
					p If you would like to find out even more about BY30, have a general enquiry or simply want to say hi, feel free to get in touch using the form below
					form
						.form-group
							input.form-control#name(type='text', name='name', placeholder='Your name')
						.form-group
							input.form-control#email(type='email', name='email', placeholder='Your e-mail')
						.form-group
							textarea.form-control#content(name='message', placeholder='Your message')
						button.btn.btn-success.send-button(type='button', name='send') Send
				.col-md-6.alternative-contact
					p ...or you can visit us every Wednesday between 9:00 and 10:00 
					address
						strong Manchester School of Architecture
						br
						small Chatham Tower, Benzie Building
						br
						small Cavendish Street
						br
						small Manchester, M15 6LL
					p: strong General contact details:
					address
						small: a(href='mailto:beforeyoure30@gmail.com') beforeyoure30@gmail.com
						br
						small: a(href='http://mssa.msa.ac.uk') mssa.msa.ac.uk
	section.page.footer
		.content
			.container-fluid.inline-block
				.col-md-4.partners
					h4 Partners
					img.logo(src='images/logo/msa.png')
					br
					img.logo(src='images/logo/mssa.png')
				.col-md-4.sponsors
					h4 Sponsors
					img.logo(src='images/logo/bdp.png')
				.col-md-4
					h4 Social
					.fb-container
						.fb-like.fb-like-button(data-href='https://www.facebook.com/beforeyourethirty', data-layout='button_count', data-action='like', data-show-faces='false', data-share='true')
					a.fb-link(href='https://www.facebook.com/beforeyourethirty')
						img.small-logo(src='images/fb.png')
					a.fb-link(href='https://twitter.com/beforeyoure30')
						img.small-logo(src='images/tw.png')
			p.copyright &copy; Copyright 2014 
				a(href='mailto:onea.alex@gmail.com') Alexandru Onea
				| .